Source: simple-wifi
Section: net
Priority: optional
Maintainer: R. Moeijes <simpelmuis@gmail.com>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), libmicrohttpd-dev (>= 0.9.51)
Standards-Version: 3.9.6

Package: simple-wifi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmicrohttpd12 (>= 0.9.51), hostapd, dnsmasq, iptables
Description: simple-wifi WiFi Setup Portal by SimpleSoft
 Simple and robust captive portal for WiFi configuration on Raspberry Pi.
 Designed for embedded devices that need easy WiFi setup without complex
 authentication. Only start when no network is available.
 SimpleSoft, easy to use tools without ApeSoft.
